#main{
    width:960px;
    margin:50px auto;
}

h1 {
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}

label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

input[type=submit]{
    
    background-color:#ff9900;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 3px;
    margin-bottom: -12px;
}